@model Fitness.Entities.Concrete.Gym
@{
    ViewData["Title"] = "Salon Bilgisi Ekle";
    Layout = "_AdminLayout";
}
@* İçerik, Salon Bilgileri Formu ile doldurulacaktır *@
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-success">Salon Bilgilerini Tanımla</h2>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-controller="Admin" asp-action="GymCreate" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="WorkingHours" class="form-label"></label>
                <input asp-for="WorkingHours" class="form-control" />
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-success">Kaydet</button>
                <a asp-action="GymList" class="btn btn-secondary">İptal</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}